scikit-build
numpy
future
Pillow
opencv_python
grpcio-tools==1.21.*
tensorflow-gpu==1.14.0
scipy
matplotlib
jupyter
trimesh
umap-learn
h5py
neuroglancer
meshparty
pandas
analysisdatalink
annotationframeworkclient
itkwidgets
